{% extends 'base.html.twig' %}
{% block body %}
<h4>Messagerie GRC</h4>
<hr>
<div class="row">
    <div class="col-6">
        {% for i in 0..10%}
            <div class="row mailRow">
                <div class="col-12 p-3">
                    <h6 class="mb-0">Titre message - 01/01/2000</h6>
                    <small>email@email.fr - N°ADH: 0000000</small>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="col-6 bg-light"></div>
</div>

{% endblock %}