<h6 id="msgTitle"></h6>
<small id="msgAuthor"></small>
<hr>
<p id="msgContent"></p>
<div class="row" id="msgAction"></div>
<hr>
<h6>Répondre</h6>
<form action=""></form>
<textarea name="reponse" id="" cols="30" rows="10" placeholder="Tapez ici votre réponse..."
          class="form-control"></textarea>
<br>
<button type="submit" class="btn bg-violet text-white"><i class="fa fas fa-paper-plane"></i> Envoyer</button>